html,body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

#calendar {
  margin:auto;
  margin-top: 50px;
  width: 80%;
  height: 700px;
}

fieldset{
  margin: auto;
  padding-left: 15%;
  padding-right: 10%;
}

form{
  width: 60%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  border: gray 0.5px solid;
}

.createform{
  width:80%;
  margin: auto;
}
.createformbtn{
  margin-left: 15%;
}

.col-md-8{
  margin: auto;
  margin-top: 20px;
}
.row-flex{
  display: flex;
  flex-direction: row;
}
.css-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  width:60px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 9px 2px;
}

.utilityBar{
  position: fixed;
  bottom: 0;
  width:100vw;
  height: 48px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 220, 40, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.utilityBar .eachpart{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  text-decoration: none;
  color: black  !important;
}
.icon{
  margin: auto;
}
.utilityBar .eachpart:hover{
  transition:  0.25s;
  transition-timing-function: ease;
  transform: scale(1.05);
  cursor: pointer;
}
.createBar{
  height: 60px !important;
}